<section class="hero-umbral">
  <img src="img/fondo3.png" alt="Fondo Home" class="imagen-fondo-html">
  
  <div class="sombra-umbral"></div>
  <div class="sombra-degradado"></div>
  <div class="contenedor-hero">
    <div class="contenido-texto">
      <h1 class="titulo-hero">El Final de los<span>Dioses</span></h1>
      <p class="subtitulo">Novela corta de fantasía y acción llena de emociones.</p>
      <div class="linea-divisoria"></div>
      <p class="descripcion">Sinopsis corta que cuente de que trata la historia</p>
      <div class="contenedor-botones">
        <a href="https://a.co/d/2TqOIgT" class="boton-hero" target="_blank">¡Comprar ahora!</a>
        <a href="https://leer.amazon.com.mx/sample/B0BJCP6213?clientId=share" class="boton-hero boton-muestra" target="_blank">Leer muestra gratis</a>
      </div>
    </div>
    <div class="contenedor-portada">
      <img src="img/PortadaKDP.png" alt="El Final de los Dioses" class="portada-destacada">
      <div class="sello-exclusivo">NUEVO</div>
      <div class="efecto-sombra"></div>
    </div>
  </div>
  <svg class="pluma-hero" width="80" height="80" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M12 3C12 3 7 7 7 12C7 15.5 9 18 12 18C15 18 17 15.5 17 12C17 7 12 3 12 3Z" stroke="#F2C066" stroke-width="2"/>
    <path d="M12 18V21" stroke="#4B3D5C" stroke-width="2"/>
    <path d="M7 12L3 12" stroke="#4B3D5C" stroke-width="2"/>
    <path d="M21 12L17 12" stroke="#4B3D5C" stroke-width="2"/>
  </svg>
</section>