<section class="hero-umbral">
  <img src="img/fondo3.png" alt="Fondo Home" class="imagen-fondo-html">
  
  <div class="sombra-umbral"></div>
  <div class="sombra-degradado"></div>
  <div class="contenedor-hero">
    <div class="contenido-texto">
      <h1 class="titulo-hero">El Final de los<span>Dioses</span></h1>
      <p class="subtitulo">Novela corta de fantasía y acción llena de emociones.</p>
      <div class="linea-divisoria"></div>
      <p class="descripcion">Sinopsis corta que cuente de que trata la historia</p>
      <div class="contenedor-botones">
        <a href="https://a.co/d/2TqOIgT" class="boton-hero" target="_blank">¡Comprar ahora!</a>
        <a href="https://leer.amazon.com.mx/sample/B0BJCP6213?clientId=share" class="boton-hero boton-muestra" target="_blank">Leer muestra gratis</a>
      </div>
    </div>
    <div class="contenedor-portada">
      <img src="img/PortadaKDP.png" alt="El Final de los Dioses" class="portada-destacada">
      <div class="sello-exclusivo">NUEVO</div>
      <div class="efecto-sombra"></div>
    </div>
  </div>
</section>