<header class="header-umbral">
  <div class="sombra-caida"></div>
  <div class="contenedor-header">
    <div class="logo-container">
      <img routerLink="/" src="img/LogoBL.png" alt="Sello del Autor" class="logo-sello">
      <div class="marca-autor">
        <h1 class="nombre-autor">J. Alejandro Garrido</h1>
        <p class="titulo-autor">Autor de Fantasía Oscura en español</p>
      </div>
    </div>

    <nav class="nav-principal">
      <ul class="menu-arcano">
        <li class="menu-item">
          <a routerLink="/" class="nav-link">
            <span class="link-texto">Inicio</span>
            <span class="link-sombra"></span>
          </a>
        </li>
        <li class="menu-item">
          <a routerLink="/" class="nav-link">
            <span class="link-texto">Libros</span>
            <span class="link-sombra"></span>
          </a>
        </li>
        <li class="menu-item">
          <a href="#" class="nav-link">
            <span class="link-texto">Autor</span>
            <span class="link-sombra"></span>
          </a>
        </li>
        <li class="menu-item">
          <a href="#" class="nav-link">
            <span class="link-texto">Personajes</span>
            <span class="link-sombra"></span>
          </a>
        </li>
        <li class="menu-item">
          <a href="#" class="nav-link">
            <span class="link-texto">Blog</span>
            <span class="link-sombra"></span>
          </a>
        </li>
      </ul>
    </nav>

    <div class="boton-movil" id="botonMenu">
      <span class="linea-menu"></span>
      <span class="linea-menu"></span>
      <span class="linea-menu"></span>
    </div>
  </div>

  <div class="borde-ambar"></div>
</header>